<%= content_for :title, "#{@organisation.name} records" %>

<h1><%= @organisation.name %></h1>

<h2>Records</h2>

<%= render "records/records", records: @organisation.records.with_metadata %>

<%= button_to 'Update records', @organisation, method: :patch %>


