<div id="<%= dom_id record %>">
  <p>
    <strong>Url:</strong>
    <%= record.url %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= record.metadata %>
  </p>

  <p>
    <strong>Specification:</strong>
    <%= record.specification %>
  </p>

</div>
